<td>
  <a {{action 'toggleFavorite' bizId}}><li class="fa {{if isFavorite "fa-heart" "fa-heart-o"}}"></li></a>
</td>
<td>{{business.name}}</td>
<td>{{business.address}}</td>
<td>{{business.startDate}}</td>
<td>{{business.endDate}}</td>
