
<h4 class="business-heading">San Francisco Business List</h4>
{{input value=search class="form-control" placeholder="search business name"}}

{{business-list businesses=model}}

{{#each count as |number|}}
  {{#if (eq number model.meta.pagination.self.number) }}
    {{ number }}
  {{else}}
    {{link-to number "businesses" (query-params page=number)}}
  {{/if}}
{{/each}}
